.end-screen {
    width: 100vw;
    height: 100vh;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    justify-items: center;
    align-items: center;
}

.end-score-box {
    width: 70%;
    height: 60%;
    background: #e2b789;
    border-radius: 3px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.end-score-box .close-btn {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.end-score-box img {
    padding: 1.5rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
}