* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: peachpuff;
}

main {
  height: calc(100vh - 3rem);
}

p {
  line-height: 2rem;
}

.grid-wrap {
  display: grid;
  justify-items: center;
  align-items: center;
}