@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;;
}

body {
  background-image: linear-gradient(to top, #ff9de5, #daacff, #adbbff, #81c7ff, #61cfff);
  height: 100vh;
  width: 100%;
  font-family: 'Luckiest Guy', sans-serif;
  text-align: center;
}
