.person-card {
    width: 60%;
    height: 100px;
    background-color: navy;
    color: white;
    padding-left: 2rem;
    margin: 1rem;
    font-size: 1.5rem;
    border: 10px solid magenta ;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
}