* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-image: linear-gradient(to top, #035955, #007c6d, #00a07e, #00c689, #12eb8d);
  color: rgb(2, 66, 63);
  height: 85vh;
  width: 100%;
  padding: 2rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 30%);
  grid-gap: 2rem;
  align-items: center;
  justify-items: center;
}

.likes {
  width: 50%;
  height: 80%;
  border-radius: 25px;

  grid-column: 1 / span 3;

  display: grid;
  align-items: center;
  justify-items: center;
}

.even {
  background: rgb(255, 255, 255, 0.2);
  box-shadow: 0 2px 5px gray;
}

.odd {
  background: rgb(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 5px gray;
}

button {
  height: 50%;
  width: 80%;
  color: rgb(2, 66, 63);
  border: none;
  border-radius: 10px;
  background: rgb(63, 245, 166);
  transition: all 0.5s;
}

button:hover {
  background: rgb(63, 245, 166, 0.7);
}